---
layout: ""
page_title: "Provider: Genesys Cloud"
description: |-
  The Genesys Cloud provider implements resources to interact with the Genesys Cloud Public API.
---

# Genesys Cloud Provider

The Genesys Cloud provider implements resources to interact with the Genesys Cloud Public API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}